# Server Port
PORT=5000

# Mongodb Atlas Credentials
DB_USER=
DB_PASS=
DB_NAME=

# Jwt Configuration
JWT_SECRET=
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=30d

# Frontend Client Url
CLIENT_URL=

# Email Configuration
EMAIL_USER=
EMAIL_PASS=

# Environment
NODE_ENV=development
IMGBB_API_KEY=